html, body {
    margin: 0;
    height: 100%
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    height: inherit;
    width: inherit;
    background-color: #C56970;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.profile-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile-people-box {
    height: inherit;
    background-color: #856970;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 20px;
}

#people-list li {
    padding-bottom: 10px;
    list-style-type: none;
}

#people-list li:hover {
    background-color: #655960;
}

.profile-attribute-box {
    height: inherit;
    width: 40vw;
    background-color: #856970;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-title {
    display: flex;
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 2.2em;
}

.profile-username-card {
    display: flex;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 8px;
    height: 15%;
    width: 95%;
}

.profile-username-left {
    width: 40%;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    border-radius: 5px 0 0 5px;
    font-size: 1.3em;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: #556970;
}

.profile-username-right {
    width: 60%;
    font-family: 'Helvetica', sans-serif;
    font-size: 1.15em;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: #556070;
}

.profile-avatar-card {
    display: flex;
    overflow: hidden;
    margin-bottom: 8px;
    height: 30%;
    width: 95%;
}

.profile-avatar-left {
    font-family: 'Helvetica', sans-serif;
    width: 40%;
    text-align: center;
    border-radius: 5px 0 0 5px;
    font-size: 1.3em;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: #556970;
}

.profile-avatar-right {
    display: flex;
    width: 60%;
    align-content: center;
    justify-content: center;
    background-color: #556070;
}

.profile-avatar-container {
    /* position: relative; */
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.profile-avatar {
    height: 90%;
    width: 50%;
    z-index: 1;
}

.edit-avatar {
    height: 25px;
    width: 25px;
    align-self: center;
    border-radius: 30%;
    z-index: 2;
    background-color: white;
}

.profile-bio-card {
    display: flex;
    margin-bottom: 8px;
    overflow: hidden;
    height: 23%;
    width: 95%;
}

.profile-bio-left {
    width: 40%;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    border-radius: 5px 0 0 5px;
    font-size: 1.3em;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: #556970;
}

.profile-bio-right {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: #556070;
}

.profile-bio-right textarea {
    width: 90%;
    margin: 0;
    background-color: #657085;
    border: none;
}

.profile-bio-right textarea::placeholder {
    color: #444;
}

.profile-bio-right textarea:focus {
    outline: none;
}

.profile-bio-right button {
    background-color: #657085;
    margin-top: 5px;
    border-color: #657085;
}

.profile-save-changes-button {
    background-color: #556570;
    border-color: #556570;
    margin-bottom: 5px;
}

.profile-back-to-home-button {
    background-color: #758570;
    border-color: #758570;
}

.login {
    height: inherit;
    width: inherit;
    background-color: #AC4946;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.login-box {
    background-color: rgb(212, 175, 175);
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.login-username-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-password-input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-invalid {
    margin: 10px;
    text-align: center;
    color: #cc0000;
}

.login-button {
    background-color: #1a73e8; 
    border: none;
    margin-top: 10px;
    padding: 12px 20px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; 
}

.login-button:hover {
    background-color: #1567d3;
}

.register-button {
    background-color: #22aca2;
    border: none;
    margin-top: 100px;
    padding: 12px 20px;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 25%;
}

.register-button:hover {
    background-color: #1567d3;
}

.register {
    height: inherit;
    width: inherit;
    background-color: #AC4946;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-box{
    background-color: rgb(212, 175, 175);
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.register-username-input{
    margin-top: 10px;
    margin-bottom: 10px;
}

.register-password-input{
    margin-top: 10px;
    margin-bottom: 10px;
}

.register-password-confirm-input{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    .login-box {
        width: 100%;
        height: auto;
        padding: 15px;
        box-sizing: border-box;
    }

    .login-box input {
        width: 100%;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.game-detail {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-detail h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.game-cover {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 8px;
}

.game-detail p {
    font-size: 1rem;
    margin: 10px 0;
}

.game-screenshots, .game-websites, .game-similar-games {
    margin-top: 20px;
}

.game-screenshots h2, .game-websites h2, .game-similar-games h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.game-screenshots img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
}

.game-websites a {
    color: #1a73e8;
    text-decoration: none;
}

.game-websites a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .game-detail {
        padding: 10px;
    }

    .game-detail h1 {
        font-size: 2rem;
    }

    .game-cover {
        max-width: 100%;
    }

    .game-screenshots img {
        max-width: 100%;
    }
}
/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px; /* Add padding to the left and right */
    background-color: #1a1a1a;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-left h1 {
    margin: 0;
    font-size: 1.5rem;
}

.navbar-middle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar-search-form {
    display: flex;
    width: 50%;
}

.navbar-search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 100%;
}

.navbar-search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #1a73e8;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-search-button:hover {
    background-color: #1567d3;
}

.navbar-left {
    cursor: pointer;
}

.navbar-right {
    position: relative;
}

.profile-picture {
    cursor: pointer;
}

.profile-picture-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.dropdown-menu p {
    margin: 0;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-menu p:hover {
    background-color: #f4f4f4;
}

.main-content {
    width: 100vw;
    padding-top: 60px; /* Adjust this value based on the height of your navbar */
}

.search-results {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    max-height: 300px;
    overflow-y: auto;
}

.search-result-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black; /* Ensure text color is set to black */
}

.search-result-item:hover {
    background-color: #f4f4f4;
}

.carousel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
}

.carousel-item {
    flex: 0 0 auto;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carousel-item:hover {
    transform: scale(1.05);
}

.carousel-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.leave-review {
    margin-top: 30px;
}

.review-textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 16px;
}

.review-submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.review-submit-button:hover {
    background-color: #0056b3;
}

.my-lists-page {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.my-lists-page h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.create-list-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.create-list-form input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    margin-right: 10px;
}

.create-list-form label {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.create-list-form button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #1a73e8;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.create-list-form button:hover {
    background-color: #0056b3;
}

.lists-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-item {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-item h2 {
    font-size: 1.5rem;
    margin: 0;
}

.list-item button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #ff4d4d;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.list-item button:hover {
    background-color: #cc0000;
}